<!DOCTYPE html>
<html lang="en">

<head>
    <title>Item Catalog</title>

    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">  
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" > 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--required for google sign in-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!--required for end google sign in-->
    
</head>
<body>
    {% block content %}
    {% endblock %}
</body> 
</html>
